<tr>
    <td><a href="{% if current_state != 'users' %}{% url 'Set Status' 'users' 1 %}{% else %}#{% endif %}"
           class="btn btn-primary {% if current_state != '' and current_state != 'users' %}disabled{% endif %}">{% if current_state == 'users' %}
        <i class="fas fa-circle-notch fa-spin"></i> {% endif %}Sync Users</a></td>
    <td><a href="{% if current_state == 'users' %}{% url 'Set Status' 'users' 0 %}{% else %}#{% endif %}"
           class="btn btn-danger {% if current_state != '' and current_state != 'users' %}disabled{% endif %}">Stop</a></td>
    <td><a href="{% if current_state != 'users_delete' %}{% url 'Set Status' 'users_delete' 1 %}{% else %}#{% endif %}"
           class="btn btn-info {% if current_state != '' and current_state != 'users_delete' %}disabled{% endif %}">
        {% if current_state == 'users_delete' %}<i class="fas fa-circle-notch fa-spin"></i> {% endif %}Delete Users</a></td>
    <td><a href="{% if current_state == 'users_delete' %}{% url 'Set Status' 'users_delete' 0 %}{% else %}#{% endif %}"
           class="btn btn-danger {% if current_state != '' and current_state != 'users_delete' %}disabled{% endif %}">Stop</a></td>
</tr>
<tr>
    <td>
        <hr>
    </td>
    <td>
        <hr>
    </td>
    <td>
        <hr>
    </td>
    <td>
        <hr>
    </td>
</tr>
