<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoclef.hk DB Sync</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/oneui.css' %}">
    <script src="{% static 'js/oneui.core.min.js' %}"></script>
    <script src="{% static 'js/oneui.app.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.0.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
</head>
<body>
<div id="page-container" class="enable-page-overlay side-scroll page-header-fixed main-content-boxed side-trans-enabled">
    <main id="main-container">
        <div class="row">
            <div class="col-xl-4">
                <div class="block">
                    <div class="block-content">
                        <table class="table table-borderless table-striped table-vcenter font-size-sm">
                            <tbody>
                            <tr>
                                <td>Woocommerce Rest Api Connection</td>
                                <td>{% if woo_connect %} <i class="fa fa-circle"></i> {% else %} <i class="fa fa-times"></i> {% endif %}</td>
                            </tr>
                            <tr>
                                <td>Mongo DB Connection</td>
                                <td>{% if mongo_connect %} <i class="fa fa-circle"></i> {% else %} <i class="fa fa-times"></i> {% endif %}</td>
                            </tr>
                            <tr>
                                <td>Mysql DB Connection</td>
                                <td>{% if mysql_connect %} <i class="fa fa-circle"></i> {% else %} <i class="fa fa-times"></i> {% endif %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="block">
                    <div class="block-content">
                        <table class="table table-borderless table-striped table-vcenter font-size-sm">
                            <tbody>
                            <tr>
                                <td><a href="{% url 'Check Products' 0 %}" class="btn btn-sm btn-primary">Check Mongo Products</a></td>
                                <td></td>
                                <td><a href="{% url 'Check Products' 1 %}" class="btn btn-sm btn-danger">Check Mongo Products Stop</a>></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <hr>
                                </td>
                                <td>
                                    <hr>
                                </td>
                                <td>
                                    <hr>
                                </td>
                                <td>
                                    <hr>
                                </td>
                            </tr>
                            {% include 'syncs/categories.html' %}
                            {% include 'syncs/products.html' %}
                            {% include 'syncs/users.html' %}
                            {% include 'syncs/livestreams.html' %}
                            {% include 'syncs/orders.html' %}
                            {% include 'syncs/shipping_classes.html' %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<script>
    {% if current_state != '' %}
        {#setInterval(get_status, 1000);#}
        get_status();
        function get_status() {
            $.ajax({
                url: '{% url 'Get Status' current_state %}',
                type: 'get',
                success: function (data, response, xhr) {
                    {#window.location.href = '{% url 'index' %}'#}
                    location.reload()
                }
            })
        }
    {% endif %}

</script>
</html>
